<!-- src/main/resources/templates/fragments/menu.html -->
<div th:fragment="menu" class="sidebar">
    <h2>Menu</h2>
    <ul>
        <li class="dropdown">
            <a href="#">Movimentação de Estoque</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/vendas/saida}">Registrar Entrada/Saida</a></li>
                <li><a th:href="@{/vendas/lista}">Listar Saida</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Produtos</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/produto/novo}">Novo Produto</a></li>
                <li><a th:href="@{/produto/lista}">Listar Produtos</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Usuário</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/usuarios/novo}">Novo Usuário</a></li>
                <li><a th:href="@{/usuarios/lista}">Listar Usuários</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Fornecedores</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/fornecedor/novo}">Novo Fornecedor</a></li>
                <li><a th:href="@{/fornecedor/lista}">Listar Fornecedores</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Indicadores</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/indicadores}">Indicadores de Vendas</a></li>
            </ul>
        </li>
    </ul>
    
    <!-- Logout na parte inferior -->
    <div class="logout-section">
        <a th:href="@{/usuarios/logout}" class="logout-button">
            <i class="bi bi-box-arrow-right"></i> Sair do Sistema
        </a>
    </div>
</div>