<!-- src/main/resources/templates/fragments/menu.html -->
<div th:fragment="menu" class="sidebar">
    <h2>Menu</h2>
    <ul>
        <li class="dropdown">
            <a href="#">Produtos</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/produto/novo}">Novo Produto</a></li>
                <li><a th:href="@{/produto/lista}">Listar Produtos</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Usuário</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/usuarios/novo}">Novo Usuário</a></li>
                <li><a th:href="@{/usuarios/lista}">Listar Usuários</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Fornecedores</a>
            <ul class="dropdown-content">
                <li><a th:href="@{/fornecedor/novo}">Novo Fornecedor</a></li>
                <li><a th:href="@{/fornecedor/lista}">Listar Fornecedores</a></li>
            </ul>
        </li>
    </ul>
</div>
