<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registrar Saída</title>
</head>

<body>

    <div th:replace="fragments/menu :: menu"></div>
    <div th:replace="fragments/alertas :: alertas"></div>

    <div class="content">
        <h1>Registrar Saída/Entrada</h1>
        <form action="/vendas/saida" th:object="${venda}" method="post">
            <label for="vendaQuantidade">Quantidade da Saída:</label>
            <input type="number" id="vendaQuantidade" th:field="*{venQuantidade}" min="1" required>

            <label for="venAcao">Categoria:</label>
            <select id="venAcao" th:field="*{venAcao}" required>
                <option value="entrada">Entrada</option>
                <option value="saida" selected>Saida</option>
            </select>

            <label for="vendaUsuario">Usuario:</label>
            <select th:field="*{usuario.usuId}" required>
                <option th:each="usuario : ${usuario}" th:value="${usuario.usuId}" th:text="${usuario.usuNome}">
                </option>
            </select>

            <label for="vendaProduto">Produto:</label>
            <select th:field="*{produto.proId}" required>
                <option th:each="produto : ${produto}" th:value="${produto.proId}" th:text="${produto.proNome}">
                </option>
            </select>

            <button type="submit">Registrar Saída/Entrada</button>
        </form>
        <a href="/produto/lista">Voltar à lista de produtos</a>

    </div>
</body>

</html>