<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Criar Novo Produto</title>
</head>

<body>

    <div th:replace="fragments/menu :: menu"></div>

    <div class="content">
        <h1>Criar Novo Produto</h1>
        <form action="/produto/novo" th:object="${produto}" method="post">
            <label for="proNome">Nome:</label>
            <input type="text" id="proNome" th:field="*{proNome}" required>

            <label for="proCategoria">Categoria:</label>
            <select id="proCategoria" th:field="*{proCategoria}" required>
                <option value="cerveja">Cerveja</option>
                <option value="agua" selected>Agua</option>
                <option value="refrigerante">Refrigerante</option>
            </select>

            <label for="proUnidade">Quantidade:</label>
            <input type="number" id="proUnidade" th:field="*{proUnidade}" required>

            <label for="proVencimento">Vencimento:</label>
            <input type="date" id="proVencimento" th:field="*{proVencimento}" required>

            <label for="proEstoqueminimo">Estoque Minimo:</label>
            <input type="number" id="proEstoqueminimo" th:field="*{proEstoqueminimo}" required>

            <label for="proEstoquemaximo">Estoque Maximo</label>
            <input type="number" id="proEstoquemaximo" th:field="*{proEstoquemaximo}" required>

            <label for="proFornecedor">Fornecedor</label>
            <select th:field="*{fornecedorProduto.forId}" required>
                <option th:each="f: ${fornecedor}" th:value="${f.forId}" th:text="${f.forRazaoSocial}"
                    th:selected="${f.forId == produto.fornecedorProduto.forId}">
                </option>
            </select>

            <button type="submit">Salvar Produto</button>
        </form>
        <a href="/produto/lista">Voltar à lista de produtos</a>
    </div>
</body>

</html>