/* Estilos gerais */
body {
    margin: 0;
    font-family: Times, Times New Roman, serif;
    background-color: #f5f5f5; /* Fundo neutro mais claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do login */
.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h1 {
    font-size: 26px;
    color: black;
    margin-bottom: 20px;
}

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    text-align: left;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #daa520;
    outline: none;
}

button {
    padding: 10px;
    background-color: #4B3D3D;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #daa520;
}

a {
    text-decoration: none;
    color: #daa520;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}