<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Editar Fornecedor</title>
</head>

<body>

    <div th:replace="fragments/menu :: menu"></div>

    <div class="content">
        <h1>Editar Fornecedor</h1>
        <form action="/fornecedor/editar" th:object="${fornecedor}" method="post">
                
                <label for="forCnpj">CNPJ do Fornecedor:</label>
                <input type="text" id="forCnpj" th:field="*{forCnpj}" />

                <label for="forRazaoSocial">Nome do Fornecedor:</label>
                <input type="text" id="forRazaoSocial" th:field="*{forRazaoSocial}" />

                <label for="forEndereco">forEndereço do Fornecedor:</label>
                <input type="text" id="forEndereco" th:field="*{forEndereco}" />

                <button type="submit">Salvar</button>
        </form>
        <a href="/fornecedor/lista">Voltar à lista de Fornecedores</a>
    </div>
</body>

</html>