<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Excluir Fornecedor</title>
</head>

<body>
    <div th:replace="fragments/menu :: menu"></div>

    <div th:include="fragments/alertas :: alertas"></div>

    <div class="content">
        <h1>Excluir Fornecedor</h1>
        <div>
            <span th:text="${erro}"></span>
        </div>
        <form action="/fornecedor/excluir" th:object="${fornecedor}" method="post">
            <div>
                <input type="hidden" name="forId" th:field="*{forId}">
            </div>
            <div>
                CNPJ do Fornecedor: <label type="text" th:text="*{forCnpj}"></label>
            </div>
            <div>
                Razão Social: <label type="text" th:text="*{forRazaoSocial}"></label>
            </div>
            <div>
                Telefone do Fornecedor: <label type="text" th:text="*{forTelefone}"></label>
            </div>
            <div>
                Endereço: <label type="text" th:text="*{forLogradouro}"></label>,
                <label type="text" th:text="*{forNumero}"></label> -
                <label type="text" th:text="*{forBairro}"></label>,
                <label type="text" th:text="*{forCidade}"></label> -
                <label type="text" th:text="*{forEstado}"></label> -
                CEP: <label type="text" th:text="*{forCep}"></label>
            </div>
            <button type="submit">Excluir Fornecedor</button>
        </form>
        <a href="/fornecedor/lista">Voltar à lista de fornecedores</a>
    </div>
</body>

</html>
