<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Fornecedores</title>
</head>

<body>

    <div th:replace="~{fragments/menu :: menu}"></div>
    <div th:replace="fragments/alertas :: alertas"></div>

    <div class="content">
        <h1>Lista de Fornecedores</h1>

        <table>
            <thead>
                <tr>
                    <th>CNPJ</th>
                    <th>Razão Social</th>
                    <th>Telefone</th>
                    <th>CEP</th>
                    <th>Logradouro</th>
                    <th>Número</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fornecedor : ${fornecedor}">
                    <td th:text="${fornecedor.forCnpj}"></td>
                    <td th:text="${fornecedor.forRazaoSocial}"></td>
                    <td th:text="${fornecedor.forTelefone}"></td>
                    <td th:text="${fornecedor.forCep}"></td>
                    <td th:text="${fornecedor.forLogradouro}"></td>
                    <td th:text="${fornecedor.forNumero}"></td>
                    <td th:text="${fornecedor.forCidade}"></td>
                    <td th:text="${fornecedor.forBairro}"></td>
                    <td th:text="${fornecedor.forEstado}"></td>
                    <td>
                        <div>
                            <a th:href="@{/fornecedor/editar/{id}(id=${fornecedor.forId})}">
                                <button class="btn">Editar</button>
                            </a>
                        </div>
                        <div>
                            <a th:href="@{/fornecedor/excluir/{id}(id=${fornecedor.forId})}">
                                <button class="btn">Excluir</button>
                            </a>
                        </div>                    
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="/fornecedor/novo">Adicionar Novo Fornecedor</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>