<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Novo Fornecedor</title>
</head>

<body>

    <div th:replace="fragments/menu :: menu"></div>

    <div class="content">
        <h1>Novo Fornecedor</h1>
        <form action="/fornecedor/novo" th:object="${fornecedor}" method="post">
                
                <label for="forCnpj">CNPJ do Fornecedor:</label>
                <input type="text" id="forCnpj" th:field="*{forCnpj}" required />

                <label for="forRazaoSocial">Razão Social:</label>
                <input type="text" id="forRazaoSocial" th:field="*{forRazaoSocial}" required />

                <label for="forLogradouro">Logradouro:</label>
                <input type="text" id="forLogradouro" th:field="*{forLogradouro}" required />

                <label for="forNumero">Número:</label>
                <input type="text" id="forNumero" th:field="*{forNumero}" required />

                <label for="forCidade">Cidade:</label>
                <input type="text" id="forCidade" th:field="*{forCidade}" required />

                <label for="forBairro">Bairro:</label>
                <input type="text" id="forBairro" th:field="*{forBairro}" required />

                <label for="forEstado">Estado:</label>
                <input type="text" id="forEstado" th:field="*{forEstado}" required />

                <label for="forCep">CEP:</label>
                <input type="text" id="forCep" th:field="*{forCep}" required />

                <label for="forTelefone">Telefone:</label>
                <input type="text" id="forTelefone" th:field="*{forTelefone}" required />

                <button type="submit">Salvar</button>
        </form>
        <a href="/fornecedor/lista">Voltar à lista de Fornecedores</a>
    </div>
</body>

</html>