<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="/css/styleLogin.css">
</head>

<body>

<div th:include="fragments/alertas :: alertas"></div>

    <div class="login-container">
        <form th:action="@{/usuarios/login}" method="post" th:object="${usuarios}">
            <h1>Login</h1>
            <label for="usuEmail">Usuário:</label>
            <input type="text" id="usuEmail" th:field="*{usuEmail}" required>

            <label for="usuSenha">Senha:</label>
            <input type="password" id="usuSenha" th:field="*{usuSenha}" required>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>

</html>